body {
    font-size:24px;
    font-family: 'Courier New', Courier, monospace, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(../Media/blueSky_whiteClouds.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    color: #fff;
};

h1 {
    font-weight: 300;
};